body{
	text-align: center;
	margin:0;
}

header{
	background-color: #F15B31;
	color:#FFFFFF;
	padding:30px 20px;
}

h1, h2, h3, h4{
	font-family: "raleway"; serif;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: capitalize;
}

h1{
	font-weight:400;
	font-size:45px;
	margin:0;
}

nav{
	color:#FFFFFF;
	font-weight:600;
	font-size:18px;
	background-color: #00A6B3;
	padding: 20px 0;
}

main{
	width:850px;
	margin:35px auto;
}
img{
	margin:40px 8px;
}

a{
	border-bottom: 2px solid transparent;
}
a:hover {
	background:black;
	color:white;
	padding:20px 20px;
}

h2{
	color:#0D2C40;
	font-weight:400;
	font-size:20px;
}

p{
	font-family:"droid serif"; serif;
	line-height: 26px;
	font-size: 18px;
}

footer {
	text-transform: uppercase;
	padding:0 20px;
	background:#0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing:0.8em;
	font-weight: 500;
}
.copyright{
	font-family: "raleway":sans-serif;
	float:left;
}
.message{
	font-family: "raleway":sans-serif;
	float:right;
}
.name{
	color:#F15B31;
}
.clearfix:after{
	visibility:hidden;
	display: block;
	content: "";
	clear:both;
	height:0;
	font-size: 0;
}